@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  padding-top: 15vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, rgba(14, 6, 1, 0.9), rgba(14, 6, 1, 0.5), rgba(14, 6, 1, 0.2), rgba(14, 6, 1, 0.2), rgba(14, 6, 1, 0.5), rgba(14, 6, 1, 0.6)), url("../img/pexels-life-of-pix-7613.jpg");
  background-size: cover;
}
.home__heading {
  font-family: "Fredoka", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  width: 90vw;
  margin: auto;
  font-size: 2.5rem;
  animation: heading 2s ease-out 0.2s both;
  margin-top: 10vh;
  text-shadow: 1px 2px 3px gray;
}
@keyframes heading {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
.home__name {
  font-family: "Fredoka", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 1px 2px 3px gray;
  text-align: center;
  width: 90vw;
  margin: auto;
  padding-bottom: 1rem;
  animation: name 2s ease-out 2.5s both;
}
@keyframes name {
  0% {
    transform: translateX(200vh);
  }
  100% {
    transform: translateX(0);
  }
}
.home__name span {
  color: #f13c20;
  font-weight: 400;
  text-shadow: 1px 2px 3px black;
}
.home__descr {
  display: flex;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  width: 90vw;
  margin: auto;
  animation: descr 3s ease-out 4.5s both;
  text-shadow: 1px 2px 3px gray;
}
@keyframes descr {
  0% {
    transform: translateX(-200vh);
  }
  100% {
    transform: translateX(0);
  }
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #dfdfdf;
  transition: all 500ms ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #dfdfdf;
  transition: all 500ms ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: #dfdfdf;
  transition: all 500ms ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
  transition: all 500ms ease-in-out;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  opacity: 0.98;
  visibility: hidden;
  margin-left: 20vw;
  z-index: 1;
  transition: all 500ms ease-in-out;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  background-color: rgba(22, 22, 22, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column wrap;
  height: 100vh;
  overflow: hidden;
  list-style-type: none;
  padding-right: 3rem;
  padding-top: 0rem;
  transform: translateX(100vw);
  transition: all 500ms ease-in-out;
  width: 80vw;
}
.nav .menu-nav.open {
  transform: translateX(0);
  opacity: 1;
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 500ms ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #4f9225;
  font-weight: 400;
  border-bottom: 1px solid #4f9225;
}
.nav .menu-nav__link {
  color: #dfdfdf;
  font-family: "Fredoka", Arial, sans-serif;
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0.5em 0;
  font-weight: 300;
  text-align: right;
  margin-right: 0;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.about {
  height: 100vh;
  padding-top: 5vh;
  overflow: hidden;
  right: 2rem;
  background: linear-gradient(45deg, #161616, rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.8), rgba(22, 22, 22, 0.9), #161616), url("../img/about_me_bg_mobile.jpg");
  background-size: cover;
  background-repeat: repeat;
}
.about__heading {
  font-family: "Fredoka", Arial, sans-serif;
  font-weight: 400;
  width: 85%;
  font-size: 2.5rem;
  margin-left: 0.5em;
  animation: heading 2s ease-out 0.2s both;
  padding-bottom: 1rem;
  text-align: right;
  color: #c5cbe3;
  display: flex;
  flex-direction: column;
}
@keyframes heading {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
.about__span {
  color: #f13c20;
  text-shadow: 1px 2px 3px black;
}
.about__paragraph {
  color: #dfdfdf;
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-weight: 400;
  width: 90vw;
  margin-left: 0.5em;
  text-align: right;
  transition: all 300ms ease-in-out;
  animation: bio 3s ease-out 0.2s both;
  animation-delay: 2s;
}
@keyframes bio {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
.about__paragraph--span {
  margin-bottom: 1rem;
}
.about__paragraph--span i:hover {
  opacity: 0.7;
}
.about__paragraph--span i a {
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 500;
  color: #f13c20;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
  }
  .nav .menu-nav__link:hover {
    color: #4f9225;
  }

  .about {
    padding-top: 10vh;
    background: linear-gradient(to right, rgba(14, 6, 1, 0.9), rgba(14, 6, 1, 0.7), rgba(14, 6, 1, 0.6), rgba(14, 6, 1, 0.7), rgba(14, 6, 1, 0.9)), url("../img/about_me_bg_mobile.jpg");
    background-size: cover;
  }
  .about__heading {
    font-family: "Fredoka", Arial, sans-serif;
    font-weight: 400;
    width: 60vw;
    margin-left: 20vw;
    font-size: 4rem;
    padding-top: 10vh;
  }
  .about__paragraph {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    width: 60vw;
    margin-left: 20vw;
  }
  .about__paragraph--span {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .home {
    padding-top: 15vh;
    background: linear-gradient(to right, rgba(14, 6, 1, 0.9), rgba(14, 6, 1, 0.5), rgba(14, 6, 1, 0.2), rgba(14, 6, 1, 0.2), rgba(14, 6, 1, 0.5), rgba(14, 6, 1, 0.9)), url("../img/pexels-life-of-pix-7613.jpg");
    background-size: cover;
    padding-top: 3rem;
  }
  .home__heading {
    font-family: "Fredoka", Arial, sans-serif;
    font-weight: 400;
    text-align: right;
    width: 30vw;
    margin: auto;
    font-size: 3.5rem;
    padding-top: 13vh;
  }
  .home__name {
    font-family: "Fredoka", Arial, sans-serif;
    font-weight: 300;
    text-align: right;
    width: 30vw;
    margin: auto;
    padding-bottom: 1rem;
    font-size: 3rem;
  }
  .home__name span {
    color: #f13c20;
    font-weight: 400;
  }
  .home__descr {
    font-family: "Fredoka", Arial, sans-serif;
    font-weight: 300;
    text-align: right;
    width: 30vw;
    margin: auto;
    font-size: 1.5rem !important;
  }

  .about {
    padding-top: 10vh;
    background: linear-gradient(to right, #161616, rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.8), rgba(22, 22, 22, 0.9), #161616), url("../img/about_me_bg_desktop_md.jpg");
    background-size: cover;
  }
  .about__heading {
    font-family: "Fredoka", Arial, sans-serif;
    font-weight: 400;
    width: 40vw;
    margin-left: 10em;
    font-size: 3rem;
    padding-top: 10vh;
  }
  .about__paragraph {
    font-size: 1.2rem;
    width: 40vw;
    margin-left: 25em;
  }
  .about__paragraph--span {
    margin-bottom: 1rem;
  }

  .projects {
    background: linear-gradient(to right, #161616, rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.8), rgba(22, 22, 22, 0.9), #161616), url("../img/about_me_bg_desktop_md.jpg");
    background-size: cover;
  }
  .projects__heading {
    font-family: "Fredoka", Arial, sans-serif;
    font-weight: 400;
    width: 40vw;
    margin-left: 10em;
    font-size: 3rem;
    padding-top: 1vh;
  }

  main .social a::before {
    width: 230px !important;
  }
  main .social a i {
    margin-left: 15px;
  }

  .projects__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .footer__projects {
    right: 0 !important;
  }

  .contact__form {
    width: 60% !important;
  }
}
@media screen and (min-width: 1600px) {
  main .social {
    left: 1em !important;
  }
  main .social a {
    font-size: 1.5rem !important;
    font-weight: 400;
    margin-bottom: 20px !important;
    gap: 15px !important;
  }
  main .social a::before {
    width: 290px !important;
  }
  main .social a i {
    font-size: 2.5rem;
    margin-left: 30px;
  }

  .home__heading {
    font-size: 5rem;
  }
  .home__name {
    font-size: 4rem;
  }
  .home__descr {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }

  .about {
    background: linear-gradient(to right, #161616, rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.8), rgba(22, 22, 22, 0.9), #161616), url("../img/about_me_bg_desktop.jpg");
    background-size: cover;
  }
  .about__heading {
    font-family: "Fredoka", Arial, sans-serif;
    font-weight: 400;
    width: 40vw;
    margin-left: 9em;
    font-size: 4rem;
    padding-top: 10vh;
  }
  .about__paragraph {
    font-size: 1.8rem;
    width: 40vw;
    margin-left: 20em;
    line-height: 3rem;
  }
  .about__paragraph--span {
    margin-bottom: 1rem;
  }

  .projects {
    height: 100vh !important;
  }
  .projects__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
  }
}
.projects {
  height: 100%;
  padding-top: 15vh;
  padding-bottom: 5rem;
  overflow: hidden;
  right: 2rem;
  background: linear-gradient(to right, #161616, rgba(22, 22, 22, 0.95), rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.95), #161616), url("../img/pexels-pixabay-270632.jpg");
  background-size: cover;
  background-repeat: repeat;
}
.projects__heading {
  font-family: "Fredoka", Arial, sans-serif;
  font-weight: 400;
  width: 70%;
  font-size: 2.5rem;
  animation: heading 2s ease-out 0.2s both;
  padding-bottom: 1rem;
  text-align: end;
  margin: auto;
  color: #c5cbe3;
  display: flex;
  flex-direction: column;
}
@keyframes heading {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
.projects__span {
  color: #f13c20;
  text-shadow: 1px 2px 3px black;
}
.projects__cards {
  width: 70%;
  margin-inline: auto;
  transition: transform 800ms ease-in-out;
}
.projects__card {
  margin-bottom: 5rem;
  background-color: rgba(230, 230, 230, 0.4);
  width: 100%;
  padding: 0;
  position: relative;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}
.projects__card:hover .projects__img {
  opacity: 0.8;
}
.projects__card p {
  color: #dfdfdf;
  margin-top: 1rem;
  font-size: 1.3rem;
  background-color: rgba(22, 22, 22, 0.9);
  width: 70%;
  text-align: center;
  margin-inline: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  opacity: 0.8;
  transition: all 300ms ease-in-out;
}
.projects__card p:hover {
  opacity: 1;
}
.projects__btns {
  position: absolute;
  padding-right: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  padding-top: 20%;
  transition: transform 800ms ease-in-out;
}
.projects__img {
  width: 100%;
  padding: 0.5rem;
  transition: transform 800ms ease-in-out;
  box-shadow: 2px 2px 10px black;
  border-radius: 10px;
}
.projects__btns a {
  color: #dfdfdf;
  font-size: 1rem;
  transition: transform 800ms ease-in-out;
  margin-bottom: 1rem;
  height: 2rem;
  opacity: 0.7;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.projects__btns a:hover {
  opacity: 1;
  border-radius: 10px;
}
.projects__btns i {
  color: #111111;
  font-size: 1.5rem;
  transition: transform 800ms ease-in-out;
  background-color: rgba(230, 230, 230, 0.8);
  padding: 0.5rem;
  border-radius: 10px;
}

.card__flip {
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card__front {
  transition: 800ms;
  backface-visibility: hidden;
  background-color: #161616;
  border-radius: 10px;
}

.card__back {
  transform: rotateY(180deg);
  position: absolute;
  backface-visibility: hidden;
  background-color: #161616;
  height: 100%;
  border-radius: 10px;
}

.footer__projects {
  transform: rotateZ(90deg);
  right: -15%;
  bottom: 10%;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
  animation: cards 5s ease-out 1s both;
}

@keyframes cards {
  0% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(0);
  }
}
.footer__projects {
  position: fixed;
}

.contact {
  height: 100%;
  padding-top: 15vh;
  overflow: hidden;
  right: 2rem;
  background: linear-gradient(to right, rgba(22, 22, 22, 0.8), rgba(22, 22, 22, 0.6), rgba(22, 22, 22, 0.4), rgba(22, 22, 22, 0.6), rgba(22, 22, 22, 0.8)), url("../img/contat_bg.jpg");
  background-size: cover;
  background-repeat: repeat;
}
.contact__heading {
  font-family: "Fredoka", Arial, sans-serif;
  font-weight: 400;
  width: 40vw;
  font-size: 2.5rem;
  margin-left: 50vw;
  animation: heading 2s ease-out 0.2s both;
  padding-bottom: 1rem;
  text-align: right;
  color: #c5cbe3;
  display: flex;
  flex-direction: column;
}
@keyframes heading {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
.contact__span {
  color: #f13c20;
  text-shadow: 1px 2px 3px black;
}
.contact__form {
  width: 100%;
  animation: cards 3s ease-out 1s both;
  background-color: rgba(230, 230, 230, 0.2);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  margin-bottom: 5rem;
}
.contact__form__div__btn {
  margin-inline: auto;
  width: 200px;
}
.contact__form__div__btn button {
  margin-top: 1rem;
  width: 10rem;
  padding: 0.5rem;
  background-color: #e6e6e6;
  color: #111111;
  border: none;
  font-size: 1.2rem;
  box-shadow: 2px 2px 10px black;
}
.contact__form__div__btn button:hover {
  background-color: #161616;
}
@keyframes cards {
  0% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(0);
  }
}

.form-label {
  font-size: 1.2rem;
  color: #e9e7e1;
}

.form-control {
  border: none;
  outline: none;
  box-shadow: 2px 2px 10px black;
}

.form-control:focus {
  border: none;
  outline: none;
}

.footer__contact {
  position: fixed;
}

body {
  font-family: "Ubuntu", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #111111;
}

.main-home {
  height: 100vh;
}

.main-about {
  height: 100vh;
}

main .social {
  position: fixed;
  top: 1em;
  left: 0.3em;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 2;
  width: 10px;
}
main .social a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 6px;
  transition: all 800ms ease-in-out;
  color: #1a1715;
  cursor: pointer;
  position: relative;
  margin-bottom: 8px;
  padding-left: 135px;
  transform: translateX(-165px);
  font-family: "Fredoka", Arial, sans-serif;
  font-size: 1.2rem;
}
main .social a::before {
  content: "";
  background-color: #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 210px;
  opacity: 0.9;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: -1;
  transition: all 800ms ease-in-out;
}
main .social a:hover {
  transform: translateX(-60px);
  color: #1a1715;
}
main .social a:hover::before {
  background-color: #c0c0c0;
}
main .social a:hover i {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
  margin-left: 5px;
}
main .social a:hover .fa-facebook {
  color: #065FB5;
}
main .social a:hover .fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .social a:hover .fa-twitter {
  color: #065FB5;
}
main .social a:hover .fa-whatsapp {
  color: #25D366;
}
main .social i {
  transition: all 700ms;
  font-size: 2rem;
  color: #111111;
  margin-left: 5px;
}

footer {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 0.5rem;
  color: #dfdfdf;
}
